#side-pane {
  float: left;
  width: 25%;
  min-width: 150px;
  padding: 0 10px 0 0;
  box-sizing: border-box;
}

#main-pane {
  float: left;
  width: 75%;
}

.unit:after {
  content: '';
  clear: both;
  display: block;
}

.track {
  margin: 0 4px 4px 0;
  padding: 3px 6px;
  border-bottom: solid 1px transparent;
}

.track.selected,
.track:hover,
.track.selected:hover {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  border-bottom: solid 1px #600014;
  border-radius: 4px;
}

.track.selected a,
.track:hover a,
.track.selected:hover a {
  color: #fff;
  text-shadow: 0 -1px #6d0019;
}

.track a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
}

.track .unit-count {
  float: right;
  background: #a90329;
  color: #fff;
  border-radius: 3px;
  padding: 0 3px;
  font-size: 11px;
  line-height: 16px;
  margin-top: 1px;
  margin-right: -2px;
}

.track.selected .unit-count ,
.track:hover .unit-count ,
.track.selected:hover .unit-count {
  background: #fff;
  color: inherit;
}